.menu {
  display: flex;
  justify-content: space-around;
  background-color: #ff8080;
  padding: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container h1 {
  font-size: 36px;
  color: #80b3ff;
}
